<%= render "shared/header" %>

<div class="tatal_page">
  <%# サイドバー読み込み %>
  <div class="side_bar" >
    <%= render "shared/side_bar" %>
  </div>

  <%# メインページ %>
  <div class="show_main" >
    <div class = "show_box">
      <div class = "menu_title" >
       先入れ先出し
      </div>
       <%= render "state_search" %>
    </div>
  </div>
</div>

