<div class = "header">
  <div class="today_date_bar"> 
    <div class ="today">
      <%="TODAY"%>
    </div>
    <span class = "today_date">
      <%= @today.strftime("%Y年%m月%d日") %>
    </span>
  </div>


  <div class="site_icon_base">
    <div class="site_name">
    Pocket
    </div>
    <%= link_to image_tag("icon.png", class: :site_icon), root_path %>
    <div class="site_name">
    Warehouse
    </div>
  </div>
</div>