.item_box{
  background-color: lightgray;
  border: solid lightgray 1px;
  height: 250px;
  width: 700px;
  margin: 10px;
  display: flex;
  border-radius: 10px;
}

.main_page_state_box{
}

.main_page_link{
  background-color: #e6e6e6;
  border: solid black 2px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.image_box{
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 3px;
}

.main_table_total{
  margin: 10px;
  padding: 5px;
  display: flex;
  
}

.main_table_tr{
  background-color: darkgrey;
  padding: 5px;
}

.main_page_state{
  background-color:darkgreen;
  margin: 10px;
}

.main_page_table_th{
  background-color:grey ;
  border: solid darkgrey 1px;
  padding: 5px;
}

.main_page_state_td{
  background-color:white;
  border: solid darkgrey 1px;
  padding: 5px;
}

.no_image{
  background-color: white;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
}