/* 部分テンプレート################################# */
.show_main{
  width: calc(100vw - 200px);
  overflow: scroll;
  display: flex;
}
/* 部分テンプレート################################# */

.show_box{
  margin: 15px;
  background-color: lightgray;
  border-radius: 5px;
}

.show_image{
  margin: 10px;
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  width: 200px;
  height: 200px;

}

.show_itemname{
  background-color: white;
  margin: 10px;
}

.show_frame_total{
  margin: 10px;
}

.show_frame{
  background-color: lightyellow;
  color: black;
  border: solid black 2px ;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

.show_table_total{
  margin: 10px;
  padding: 5px;
}

.show_table_tr{
  background-color: darkgrey;
  padding: 5px;
}

.show_table_th{
  background-color: gray;
  border: solid black 2px;
  padding: 5px;
}

.show_state {
  margin: 10px;
}

.show_state_td{
  background-color: white;
  border: solid black 2px;
  padding: 5px;
}

.top_link{
  background-color: chocolate;
}

.state_link {
  background-color: darkblue;
}