
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ポケット倉庫</title>

    <%# リセットCSS %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>

  <header>
    <%# ヘッダー部分テンプレート %>
    <div class="side_bar" >
      <%= render "header_content" %>
    </div>
  </header>

  <body>
    <%# 部分テンプレート %>
    <div class="tatal_page">
      <%# サイドバー読み込み %>
        <div class="side_bar" >
          <%= render "side_bar" %>
        </div>
      <%# メインページ読み込み %>
        <div class="new_form" >
          <%= render "new_form" %>
        </div>
    </div>
  </body>

</html>