<%= render "shared/header" %>

<%# 部分テンプレート %>
  <div class="tatal_page">
    <%# サイドバー読み込み %>
    <div class="side_bar" >
      <%= render "shared/side_bar" %>
    </div>
    <%# メインページ読み込み %>
    <div class="items_form" >
      <%= render "items_form" %>
    </div>
  </div>

  <%= render "shared/footer" %>