.top_box{
  background-color: red;
}

.content_box{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.link_box{
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form{
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.image_box{
  background-color: orange;
}

.item_box{
  background-color: palegreen;
}

.show_image{
  background-color: brown;
}

.show_itemname{
  background-color: blueviolet;
}

.show_frame{
  background-color: cadetblue;
  font-size: large;
}

.top_link{
  background-color: chocolate;
}

.show_frame_total{
  background-color: cornflowerblue;
}

.show_state {
  background-color:darkgreen
}

.state_link {
  background-color: darkblue;
}

.show-list{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
  position:fixed;
}

.hidden{
  display: none;
}