

/* 部分テンプレート################################# */
.tatal_page {
  display: flex;
  background-color: darkgoldenrod;
  height: 80vh;
}

.side_bar {
  background-color: cyan;
  width: 200px;
  height: 80vh;
}

/* メインページ */
.main_page{
  background-color: darkgreen;
  width: calc(100vw - 200px);
  overflow: scroll;
}
/* 部分テンプレート################################# */

/* アラーム通知################################# */
.show-list{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
  position:fixed;
}

.hidden{
  display: none;
}

/* アラーム通知################################# */
