<div class = "top_box">
test

<ul class = "link_box">
  <li><%= link_to '新規登録ページ', new_user_registration_path %></li>
  <li><%= link_to "ログイン", new_user_session_path%></li>
  <li><%= link_to 'ログアウト',destroy_user_session_path , method: :delete %></li>
</ul>

</div>
