.search_method_base{
  display: flex;
}

.search_method_index_base{
  margin: 5px 0 0 0;
}

.search_method{
  background-color: lightyellow;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  border: solid black 2px ;
}

.search_method_botn{
  margin: 5px;
  height: 30px;
}